/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

#banner {
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
}

#banner h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#produtos {
    padding: 50px
}
#produtos ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

#produtos li {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
}